h1.logo-title {
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: 600;
	padding: 0;
	margin: 0;
}
span.logo-title {
	text-transform: capitalize;
	font-size: 0.5rem;
	font-style: italic;
	display: inline-block;
	margin: 0;
	padding: 0;
}
ul.nav {
	float: right;
}
ul.nav li.nav-item a {
		text-transform: uppercase;
		color: #142B47;
}
div.home-search {
	width: 100%;
	height: 300px;
	background-image:url(./Assets/shutterstock_42474535.jpg);
	background-size: cover;
}
div.home-search div.container {
	max-width: 725px;
	padding: 5%;
	text-align: center;
}
div.home-search div.container span {
	color: #fff;
	font-family: 'Roboto Slab';
	font-size: 1.5rem;
}
div.home-search div.container input {
	margin-top: 25px;
}
div.topics {
	background-color: #e1e5ea;
}
div.topics div.container div.row {
	padding: 1rem;
}
div.topics div.container div.row div.col {
	background-color: #fff;
	padding: 2% 5%;
	text-align: center;
}
div.topics div.container div.row div.col:not(.first-child):not(.last-child) {
	margin: 1rem;
}
div.topics div.container div.row div.col span.topic {
	text-transform: uppercase;
	font-size: 1rem;
}
div.topics div.container div.row div.col img {
	max-width: 100px;
	height: auto;
	margin-bottom: 25px;
	margin-top: 25px;
}
